.menu {
    padding: 24px;
    width: 400px;
    background-color: #54a754;
    overflow-y: auto;
}

.main { 
    flex: 1;
    height: 100vh;
    overflow-y: auto;
    background-color: #f0f2f0;
}

.logo {
    height: 50px;
    margin-right: 10px;
}

.logo-wrapper {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidebar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;
}
