.poll-marker {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avatar-link {
    text-decoration: none;
}

.post-list {
    height: calc(100% - 72px);
    padding: 24px;
    box-sizing: border-box;
    overflow-y: auto;
}

.post-list-controls {
    width: 100%;
    background-color: lightgrey;
    padding: 12px;
    display: flex;
    box-sizing: border-box;
    height: 72px;
}

.filler {
    flex: 1;
}

.admin-control {
    margin-right: 12px;
}